.floating-button {
    position: fixed;
    bottom: 20px; 
    left: 20px; 
    background-color: #3b5998;
    color: #fff; 
    padding: 5px 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 24px;
    text-align: center;
    z-index: 1000; 
    transition: background-color 0.3s ease; 
}

.floating-button:hover {
    background-color: #2d4373; 
}
